
@{
    ViewBag.Title = "PatientDashboard";
    Layout = "~/Areas/Patient/Views/Shared/Patient_LayoutPage1.cshtml";
}
<!-- Breadcrumb -->
<div class="breadcrumb-bar">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-12 col-12">
                <nav aria-label="breadcrumb" class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/FirstPage/First/MainDashboard">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- /Breadcrumb -->
<!-- Page Content -->
<div class="content">
    <div class="container-fluid">

        <div class="row">

            <!-- Profile Sidebar -->
            <div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">
                <div class="profile-sidebar">
                    <div class="widget-profile pro-widget-content">
                        <div class="profile-info-widget">
                            <div class="doc-img">
                                <img @Session["ProfileImg"].ToString() class="img-fluid" alt="user img">

                            </div>
                            <div class="profile-det-info">
                                <h3>@Session["FirstName"].ToString()</h3>
                                <h3>@Session["LAST"].ToString()</h3>
                                <br />
                                <h3>@Session["DOB"].ToString()</h3>
                                <br />
                                <h3>@Session["Address"].ToString()</h3>
                            </div>
                        </div>
                    </div>d
                    <div class="dashboard-widget">
                        <nav class="dashboard-menu">
                            <ul>
                                <li class="active">
                                    <a href="/Patient/Patients/PatientDashboard">
                                        <i class="fas fa-columns"></i>
                                        <span>Dashboard</span>
                                    </a>
                                </li>
                              
                                <li>
                                    <a href="/Patient/Patients/BookAppointment">
                                        <i class="fas fa-user-cog"></i>
                                        <span>Book Appointment</span>
                                    </a>
                                </li>
                               
                                
                                <li>
                                    <a href="/FirstPage/First/MainDashboard">
                                        <i class="fas fa-sign-out-alt"></i>
                                        <span>Logout</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>

                </div>
            </div>
            <!-- / Profile Sidebar -->

            <div class="col-md-7 col-lg-8 col-xl-9">
                <div class="card">
                    <div class="card-body pt-0">

                        <!-- Tab Menu -->
                        <nav class="user-tabs mb-4">
                            <ul class="nav nav-tabs nav-tabs-bottom nav-justified">
                                <li class="nav-item">
                                    <a class="nav-link active" href="#pat_appointments" data-toggle="tab">Appointments</a>
                                </li>
                               
                            </ul>
                        </nav>
                        <!-- /Tab Menu -->
                        <!-- Tab Content -->
                        <div class="tab-content pt-0">

                            <!-- Appointment Tab -->
                            <div id="pat_appointments" class="tab-pane fade show active">
                                <div class="card card-table mb-0">
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table table-hover table-center mb-0">
                                                <thead>
                                                    <tr>
                                                        <th>Doctor</th>
                                                        <th>Appt Date</th>
                                                        <th>Booking Date</th>
                                                        <th>Amount</th>
                                                        <th>Status</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <h2 class="table-avatar">
                                                                <a href="/AdminA/Admin/DetailsDoctor/101" class="avatar avatar-sm mr-2">
                                                                    <img class="avatar-img rounded-circle" src="~/Dimg/doctorimg/img1.jpeg" alt="User Image">
                                                                </a>
                                                                <a href="/AdminA/Admin/DetailsDoctor/101">Dr. Arvidh Joshi <span>Ophthalmologist</span></a>
                                                            </h2>
                                                        </td>
                                                        <td>14 Nov 2019 <span class="d-block text-info">10.00 AM</span></td>
                                                        <td>12 Nov 2019</td>
                                                        <td>1600</td>
                                                        <td><span class="badge badge-pill bg-success-light">Confirm</span></td>
                                                        <td class="text-right">
                                                            <div class="table-action">
                                                                <a href="javascript:void(0);" class="btn btn-sm bg-primary-light">
                                                                    <i class="fas fa-print"></i> Print
                                                                </a>
                                                                <a href="javascript:void(0);" class="btn btn-sm bg-info-light">
                                                                    <i class="far fa-eye"></i> View
                                                                </a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <h2 class="table-avatar">
                                                                <a href="/AdminA/Admin/DetailsDoctor/102" class="avatar avatar-sm mr-2">
                                                                    <img class="avatar-img rounded-circle" src="~/Dimg/doctorimg/img2.jpeg" alt="User Image">
                                                                </a>
                                                                <a href="doctor-profile.html">Dr.Vinita Mishra <span>Dermatologist</span></a>
                                                            </h2>
                                                        </td>
                                                        <td>12 Nov 2019 <span class="d-block text-info">8.00 PM</span></td>
                                                        <td>12 Nov 2019</td>
                                                        <td>2500</td>
                                                        <td><span class="badge badge-pill bg-success-light">Confirm</span></td>
                                                        <td class="text-right">
                                                            <div class="table-action">
                                                                <a href="javascript:void(0);" class="btn btn-sm bg-primary-light">
                                                                    <i class="fas fa-print"></i> Print
                                                                </a>
                                                                <a href="javascript:void(0);" class="btn btn-sm bg-info-light">
                                                                    <i class="far fa-eye"></i> View
                                                                </a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <h2 class="table-avatar">
                                                                <a href="/AdminA/Admin/DetailsDoctor/103" class="avatar avatar-sm mr-2">
                                                                    <img class="avatar-img rounded-circle" src="~/Dimg/doctorimg/img3.jpeg" alt="User Image">
                                                                </a>
                                                                <a href="/AdminA/Admin/DetailsDoctor/103">Dr. Rajveer Singh <span>Cardiologist</span></a>
                                                            </h2>
                                                        </td>
                                                        <td>11 Nov 2019 <span class="d-block text-info">11.00 AM</span></td>
                                                        <td>10 Nov 2019</td>
                                                        <td>4000</td>
                                                        <td><span class="badge badge-pill bg-danger-light">Cancelled</span></td>
                                                        <td class="text-right">
                                                            <div class="table-action">
                                                                <a href="javascript:void(0);" class="btn btn-sm bg-primary-light">
                                                                    <i class="fas fa-print"></i> Print
                                                                </a>
                                                                <a href="javascript:void(0);" class="btn btn-sm bg-info-light">
                                                                    <i class="far fa-eye"></i> View
                                                                </a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <h2 class="table-avatar">
                                                                <a href="/AdminA/Admin/DetailsDoctor/104" class="avatar avatar-sm mr-2">
                                                                    <img class="avatar-img rounded-circle" src="~/Dimg/doctorimg/img4.jpeg" alt="User Image">
                                                                </a>
                                                                <a href="/AdminA/Admin/DetailsDoctor/104">Dr. Pankaj Saini <span>Nephrologist</span></a>
                                                            </h2>
                                                        </td>
                                                        <td>10 Nov 2019 <span class="d-block text-info">3.00 PM</span></td>
                                                        <td>10 Nov 2019</td>
                                                        <td>3500</td>
                                                        <td><span class="badge badge-pill bg-warning-light">Pending</span></td>
                                                        <td class="text-right">
                                                            <div class="table-action">
                                                                <a href="javascript:void(0);" class="btn btn-sm bg-primary-light">
                                                                    <i class="fas fa-print"></i> Print
                                                                </a>
                                                                <a href="javascript:void(0);" class="btn btn-sm bg-info-light">
                                                                    <i class="far fa-eye"></i> View
                                                                </a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <h2 class="table-avatar">
                                                                <a href="/AdminA/Admin/DetailsDoctor/105" class="avatar avatar-sm mr-2">
                                                                    <img class="avatar-img rounded-circle" src="~/Dimg/doctorimg/img5.jpeg" alt="User Image">
                                                                </a>
                                                                <a href="/AdminA/Admin/DetailsDoctor/105">Dr. Preeti Rathod <span>Gynecologist</span></a>
                                                            </h2>
                                                        </td>
                                                        <td>9 Nov 2019 <span class="d-block text-info">7.00 PM</span></td>
                                                        <td>8 Nov 2019</td>
                                                        <td>750</td>
                                                        <td><span class="badge badge-pill bg-success-light">Confirm</span></td>
                                                        <td class="text-right">
                                                            <div class="table-action">
                                                                <a href="javascript:void(0);" class="btn btn-sm bg-primary-light">
                                                                    <i class="fas fa-print"></i> Print
                                                                </a>
                                                                <a href="javascript:void(0);" class="btn btn-sm bg-info-light">
                                                                    <i class="far fa-eye"></i> View
                                                                </a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                  
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /Appointment Tab -->
                           

                        </div>
                        <!-- Tab Content -->

                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
<!-- /Page Content -->