@model EDM_crud.edm.employee

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>employee</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.employee_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.employee_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.employee_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.employee_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.employee_email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.employee_email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.salary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.salary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mobile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mobile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DOB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DOB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.state_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.state_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.city_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.city_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hobbies)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hobbies)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
